<a href='/pictures'>Pictures</a><br>
<h1>Upload a file</h1>





<form ref='uploadForm'
  id='uploadForm'
  action='/pictures'
  method='post'
  encType="multipart/form-data">
    <input type="file" name="sampleFile" class="fileupload"/>
    <input class="submit" type='submit' value='Upload!' />
</form>